<p>Tema 4 Inyección - Ejercicio 3 Servicio del padre SkipSelf</p>

<p>Crea un componente llamado ParentComponent que proporciona una instancia del servicio LoggerService a nivel de componente.

    Luego, crea un componente secundario llamado ChildComponent que también requiere una instancia del servicio LoggerService, pero esta vez debe utilizar la instancia proporcionada por el componente padre.
    
    Utiliza el decorador SkipSelf() en el constructor del ChildComponent para obtener la instancia del servicio del componente padre.</p>
