<!-- <p>--------------------Tema 1 Ejercicio 1--------------------------</p>
<p>Uso de ChangeDetectionStrategy.OnPush con ChangeDetectorRef</p> -->
<!-- <app-contador></app-contador> -->


<!-- <p>----------------Tema 1 Ejercicio 2------------------------</p>
<p>Salimos de la Zona angular con ngZone.runOutsideAngular</p> 
<p>Entramos con ngZone.run</p> -->
<!-- <app-operaciones-asincronas></app-operaciones-asincronas> -->


<!-- <p>-------------Tema 1 Ejercicio 3---------------------------</p>-->
<!--<p>Entramos en la Zona Angular con ngZone.run</p> -->
<!-- <app-eventos></app-eventos> -->

<!-- <p>-------------Tema 2-----------</p>-->

<!-- <app-pruebas-directivas-personalizadas></app-pruebas-directivas-personalizadas> -->

<!--------------Tema 2-- Ejercicio 1----------->
<!-- <app-ejercicio1></app-ejercicio1> -->

<!--------------Tema 2-- Ejercicio 2----------->

<!-- <app-ejercicio2></app-ejercicio2> -->

<!--------------Tema 2-- Ejercicio 3----------->

<!-- <app-ejercicio3></app-ejercicio3> -->

<!--------------Tema 3-- Ejercicio 1 Formularios Reactivos----------->
<!-- <app-age-form></app-age-form> -->

<!--------------Tema 3-- Ejercicio 2 Formularios Reactivos----------->

<!-- <app-email-form></app-email-form> -->

<!--------------Tema 3-- Ejercicio 3 Formularios Reactivos----------->

<!-- <app-country-form></app-country-form> -->

<!--------------Tema 4-- Ejercicio Inyeccion Avanzada Dependencias----------->

<!-- <app-ejemplo-array-providers></app-ejemplo-array-providers> -->

<!--------------Tema 4-- Inyección Ejercicio 1  Servicio Optional ----------->

<app-user-info></app-user-info>
<p>------------</p>

<!--------------Tema 4-- Inyección Ejercicio 2 Servicio Local - Self ----------->
<app-child></app-child>
<p>------------</p>

<!--------------Tema 4-- Inyección Ejercicio 3 Servicio del Padre - SkipSelf ----------->

<app-parent></app-parent>

