<!-- <p>--------------------Tema 1 Ejercicio 1--------------------------</p>
<p>Uso de ChangeDetectionStrategy.OnPush con ChangeDetectorRef</p> -->
<!-- <app-contador></app-contador> -->


<!-- <p>----------------Tema 1 Ejercicio 2------------------------</p>
<p>Salimos de la Zona angular con ngZone.runOutsideAngular</p> 
<p>Entramos con ngZone.run</p> -->
<!-- <app-operaciones-asincronas></app-operaciones-asincronas> -->


<!-- <p>-------------Tema 1 Ejercicio 3---------------------------</p>-->
<!--<p>Entramos en la Zona Angular con ngZone.run</p> -->
<!-- <app-eventos></app-eventos> -->

<!-- <p>-------------Tema 2-----------</p>-->

<!-- <app-pruebas-directivas-personalizadas></app-pruebas-directivas-personalizadas> -->

<!--------------Tema 2-- Ejercicio 1----------->
<app-ejercicio1></app-ejercicio1>

<!--------------Tema 2-- Ejercicio 2----------->

<app-ejercicio2></app-ejercicio2>

<!--------------Tema 2-- Ejercicio 3----------->

<app-ejercicio3></app-ejercicio3>

